Package: toilet
Version: 0.3-1.4
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Original-Maintainer: Sam Hocevar <sho@debian.org>
Installed-Size: 48
Depends: libc6 (>= 2.34), libcaca0 (>= 0.99.beta17-1), toilet-fonts
Suggests: figlet
Replaces: caca-utils
Section: text
Priority: optional
Description: display large colourful characters in text mode
 TOIlet prints text using large characters made of smaller characters.
 It is similar in many ways to FIGlet with additional features such as
 Unicode handling, colour fonts, filters and various export formats.
 .
 TOIlet can open FIGlet fonts and is mostly commandline-compatible with it.
